<launch>
	<arg name="robot" />
	<env name="ROSCONSOLE_CONFIG_FILE"
	   value="$(find reachability_space_generation)/launch/custom_rosconsole.conf"/>

	<rosparam command="load" file="$(find reachability_space_generation)/configs/$(arg robot).yaml"/>

	<node name="reachability_sweep" pkg="reachability_space_generation" type="reachability_worker.py" output="screen"/>

</launch>